@font-face {
    font-family: 'Isabella';
    src: url('isabella.otf') format('opentype');
    font-display: swap;
}

body {
    font-family: Inter;
    padding: 1rem;
    color: purple;
    position: relative;
    height: calc(100vh - 2rem);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at center, white 0%, purple 400px, white 800px, white 100%);
}

body.home {
    background: radial-gradient(circle at center, white 0%, purple 200px, white 400px, white 100%);
}

body.projects, body.contact {
    flex-direction: column;
}

h1, p {
    color: purple;
}

h1 {
    font-family: 'Isabella', serif;
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.home h1 {
    font-size: 2em;
}

p {
    max-width: 300px;
    text-align: left;
    margin: 1rem auto;
}

.link {
    position: absolute;
    font-family: 'Isabella', serif;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.link:hover {
    opacity: 0.7;
}

.link-left, .link-right, .back-link {
    top: 50%;
    transform: translateY(-50%);
}

.link-left, .back-link {
    left: calc(50% - 220px);
}

.back-link {
    left: calc(50% - 422px);
}

.link-right {
    right: calc(50% - 220px);
}

@media (max-width: 888px) {
    .link-left, .link-right, .back-link {
        left: 50%;
        transform: translateX(-50%);
    }

    .link-left, .back-link {
        top: calc(50% - 400px);
    }

    .link-right {
        top: calc(50% + 200px);
    }

    .projects .link,
    .contact .link {
        color: white;
    }
}